# Pandas: Načtení dat

## Užitečné funkce a metody

In [ ]:
# data = pandas.read_csv("file.csv")    Načte data z csv souboru
# data.to_csv("file.csv")               Zapíše data do csv souboru (zatím nepotřebujeme)

# data.info()                           Informace o datech
# data.head()                           Výpis prvních několika řádků
# data.tail()                           Výpis posledních několika řádků
# data.shape                            Počet řádků a sloupců v tabulce
# data.columns                          Vypíše názvy sloupců

# data["sloupec1"]                      Výběr sloupce podle názvu
# data[["sloupec1", "sloupec2"]]        Výběr více sloupců podle názvu
# data.iloc[3:5]                        Výběr řádku/řádků podle jejich pořadí
# data.iloc[3,8]                        Výběr řádku a sloupce podle jejich pořadí

Zadání: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/nacteni-dat/excs

## Cvičení 1
Stáhni si soubor DataAnalyst.csv se seznamem nabídek práce pro datové analytiky. Soubor byl stažen z webu Kaggle.com, kde najdeš spoustu zajímavých dat, na kterých se můžeš učit, jak analyzovat data.

Ale zpět k našim úkolům...

1. Načti data do DataFrame, který si pojmenuj jobs.

In [14]:
import pandas as pd

# Stažení csv před odkaz
# import requests
# url = "https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/nacteni-dat/excs/excs%3Enabidky/DataAnalyst.csv"
# r = requests.get(url, allow_redirects=True, verify=False)
# open("../data_pandas/DataAnalyst2.csv", "wb").write(r.content)

# Relativní adresa k souboru: ".." odkazuje na složku nadřazenou té aktuální
jobs = pd.read_csv("../data_pandas/DataAnalyst.csv", index_col=0) # index_col zařídí, že se jako index řádků použije první sloupec dat (čísla řádků 0-...)

# Náhled dat, výpis informací - více možností
jobs.head()  # Počet řádků jako nepovinný argument
jobs.tail()  # Počet řádků jako nepovinný argument
jobs.info()
jobs

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2253 entries, 0 to 2252
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          2253 non-null   object
 1   Salary Estimate    2253 non-null   object
 2   Job Description    2253 non-null   object
 3   Rating             2253 non-null   float64
 4   Company Name       2252 non-null   object
 5   Location           2253 non-null   object
 6   Headquarters       2253 non-null   object
 7   Size               2253 non-null   object
 8   Founded            2253 non-null   int64
 9   Type of ownership  2253 non-null   object
 10  Industry           2253 non-null   object
 11  Sector             2253 non-null   object
 12  Revenue            2253 non-null   object
 13  Competitors        2253 non-null   object
 14  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 281.6+ KB

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

2. Nech si zobrazit názvy sloupců, které jsou v souboru uloženy.

In [10]:
jobs.columns

# Případně převod názvů na běžný seznam
# list(jobs.columns)

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply'],
      dtype='object')

3. Podívej se, kolik má soubor řádek.

In [11]:
print(jobs.shape)  # řádky a sloupce
print(jobs.shape[0])  # jen řádky
print(jobs.shape[1])  # jen sloupce

len(jobs)  # Tradiční pythoní len() taky vrací počet řádků

(2253, 15)
2253
15

2253

4. Zjisti všechny informace o pracovní pozici na desátém řádku.

In [12]:
jobs.iloc[9]
# ... vrací objekt typu Series

# Případně výstup jako DataFrame:
# jobs.iloc[[9]]

Job Title                                Data Analyst, Merchant Health
Salary Estimate                             $37K-$66K (Glassdoor est.)
Job Description      About Us\n\nRiskified is the AI platform power...
Rating                                                             4.4
Company Name                                            Riskified\n4.4
Location                                                  New York, NY
Headquarters                                              New York, NY
Size                                             501 to 1000 employees
Founded                                                           2013
Type of ownership                                    Company - Private
Industry                                        Research & Development
Sector                                               Business Services
Revenue                                       Unknown / Non-Applicable
Competitors                                           Signifyd, Forter
Easy Apply                                                          -1
Name: 9, dtype: object

5. Podívej se, kde budou pracovat zájemci vybraní na dvanáctou až dvacátou pozici.

In [13]:
# Předpokládejme, že chceme geografické "kde", tedy Location

# Výběr přes pořadí sloupce
jobs.iloc[11:20,5]

# Výběr přes název sloupce (dvě možnosti)
jobs.iloc[11:20]["Location"]
jobs.iloc[11:20].Location

11      Fairfield, NJ
12       New York, NY
13       New York, NY
14    Jersey City, NJ
15       New York, NY
16       New York, NY
17       New York, NY
18       New York, NY
19       New York, NY
Name: Location, dtype: object