# Pandas: Agregace a spojování

## Užitečné funkce a metody

In [102]:
# data = pandas.concat([data1, data2])  Spojení DataFrames do jednoho (pod sebe)
# data = pandas.merge(data1, data2)     Propojení DataFrames do jednoho skrze sloupce se shodným názvem

# data.dropna()                         Odstranění řádků, které obsahují aspoň jeden NaN
# data["sloupec"].isnull()              Nalezení řádků, které obsahují NaN
# data["sloupec"].notnull()             Nalezení řádků, které neobsahují NaN (obsahují validní hodnoty)
# data["sloupec"].fillna()              Nahrazení NaN zvolenou hodnotou

# data.groupby("sloupec1")                                      Seskupení dat podle sloupec1
# data.groupby("sloupec1")["sloupec2"].mean()                   Seskupení dat podle sloupec1 a výpočet vybrané statistiky (zde průměr) ze sloupec2
# data.groupby("sloupec1").agg({"sloupec2":["mean", "count"]})  Seskupení dat podle sloupec1 a výpočet více vybraných statistik ze sloupec2

# data.sort_values(by="sloupec")        Řazení dat podle vybraného sloupce

## Cvičení 1

Zadání: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs

Stáhni si datové sety, se kterými budeme pracovat v tomto cvičení: jmena.csv, studenti1.csv, studenti2.csv.

In [ ]:
import requests

# r = requests.get("https://kodim.cz/czechitas/progr2-python/python-pro-data-1/agregace-a-spojovani/excs/studenti/assets/jmena.csv")
# open("../data_pandas/jmena.csv", "wb").write(r.content)
# r = requests.get("https://kodim.cz/czechitas/progr2-python/python-pro-data-1/agregace-a-spojovani/excs/studenti/assets/studenti1.csv")
# open("../data_pandas/studenti1.csv", "wb").write(r.content)
# r = requests.get("https://kodim.cz/czechitas/progr2-python/python-pro-data-1/agregace-a-spojovani/excs/studenti/assets/studenti2.csv")
# open("../data_pandas/studenti2.csv", "wb").write(r.content)

r = requests.get("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/jmena.csv")
open("jmena.csv", "wb").write(r.content)
r = requests.get("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/studenti1.csv")
open("studenti1.csv", "wb").write(r.content)
r = requests.get("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/studenti2.csv")
open("studenti2.csv", "wb").write(r.content)

První set už známe z minulé lekce. Druhé dva sety obsahují seznam studentů na nějaké menší IT fakultě. Pozor, tato data nemají žádnou souvislost s výsledky maturity, které jsme procházeli během lekce.

Proveď následující úkoly a zodpověz předložené otázky.

a. Načti dva datové sety studentů do oddělených pandas DataFrame a pomocí funkce concat je spoj do jednoho setu.

In [92]:
import pandas

# Otevření stažených csv
studenti1 = pandas.read_csv("studenti1.csv")
studenti2 = pandas.read_csv("studenti2.csv")

# Alternativa: Načtení csv přímo z kodim.cz
# studenti1 = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/studenti1.csv")
# studenti2 = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/studenti2.csv")

print(len(studenti1))
print(len(studenti2))

studenti = pandas.concat([studenti1, studenti2], ignore_index=True)
print(len(studenti))
studenti

205
140
345

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
340   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
341    Lukáš          Čech  informatika a management     5.0   NaN      1.59
342   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
343    Ivana    Macháčková        webové inženýrství     1.0   NaN      2.92
344  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[345 rows x 6 columns]

b. Pokud studentovi chybí ročník, znamená to, že již nestuduje.

Pokud mu chybí číslo skupiny, znamená to, že jde o dálkového studenta. 

Kolik studentů v datovém setu již nestuduje a kolik jsou dálkoví studenti?

In [93]:
print( studenti["ročník"].isnull().sum() )  # Lze i jako sum(studenti["ročník"].isnull())
print( studenti["kruh"].isnull().sum()   )

# Delší alternativa přes výběr nestudentů a dálkařů:
# len(studenti[studenti["ročník"].isnull()])
# len(studenti[studenti["kruh"].isnull()])

33
27

c. Vyčisti data od studentů, kteří nestudují nebo studují jen dálkově. Nadále budeme pracovat pouze s prezenčními studenty.

In [94]:
# Při předpokladu, že NaN se nevyskytuje jinde než ve sloupcích "ročník" a "kruh":
# dropna() ve výchozím nastavení odebere řádky, které obsahují aspoň jeden NaN
# studenti = studenti.dropna()
# studenti

# ... Jenže pokud by se NaN vyskytoval i jinde, mohli bychom nechtěně přijít i o další řádky
# Takže "Bezpečnější" alternativa založená jen na vybraných sloupcích:
nestudenti = studenti["ročník"].isnull()
dalkari = studenti["kruh"].isnull()
studenti = studenti[~nestudenti & ~dalkari]
studenti

# Případně to stejné, ale s opačnou logikou pomocí notnull():
# studujici = studenti["ročník"].notnull()
# prezencni = studenti["kruh"].notnull()
# studenti = studenti[studujici & prezencni]
# studenti

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
338    Klára     Valentová         správa IT systémů     1.0  11.0      1.10
339    Pavla     Veverková        počítačová grafika     4.0   6.0      2.98
340   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
342   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
344  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[287 rows x 6 columns]

d. Zjisti, kolik prezenčních studentů je v každém z oborů.

In [96]:
# studenti.groupby("obor").count()
studenti.groupby("obor")["jméno"].count()
# studenti.groupby("obor").size()

# Pro doplnění: count() nezapočítává záznamy s NaN, size() ano

obor
informatika a management    49
počítačová grafika          33
softwarové inženýrství      41
správa IT systémů           38
teoretická informatika      47
webové inženýrství          46
číslicová technika          33
Name: jméno, dtype: int64

e. Zjisti průměrný prospěch studentů v každém oboru.

In [103]:
studenti.groupby("obor")["prospěch"].mean()
# Lze aplikovat i další metody, např. sum, max, min, median, std, first, last, ...

obor
informatika a management    2.088980
počítačová grafika          1.971515
softwarové inženýrství      1.960976
správa IT systémů           1.917632
teoretická informatika      2.136809
webové inženýrství          2.079130
číslicová technika          2.047576
Name: prospěch, dtype: float64

In [104]:
# Případně i více statistik najednou
studenti.groupby("obor").agg({"prospěch": ["count", "mean", "median", "min", "max"]})

                         prospěch
                            count      mean median   min   max
obor
informatika a management       49  2.088980  2.210  1.04  3.00
počítačová grafika             33  1.971515  2.060  1.01  2.98
softwarové inženýrství         41  1.960976  1.930  1.05  3.00
správa IT systémů              38  1.917632  1.845  1.02  2.93
teoretická informatika         47  2.136809  2.220  1.03  2.99
webové inženýrství             46  2.079130  1.990  1.02  2.88
číslicová technika             33  2.047576  2.280  1.08  2.79

In [105]:
# Nebo vybrané výchozí statistiky metodou describe()
studenti.groupby("obor")["prospěch"].describe()

,count,mean,std,min,25%,50%,75%,max
obor,,,,,,,,
informatika a management,49.0,2.088980,0.649975,1.04,1.4700,2.210,2.7600,3.00
počítačová grafika,33.0,1.971515,0.594228,1.01,1.3800,2.060,2.4100,2.98
softwarové inženýrství,41.0,1.960976,0.642191,1.05,1.4000,1.930,2.5400,3.00
správa IT systémů,38.0,1.917632,0.564789,1.02,1.4675,1.845,2.4150,2.93
teoretická informatika,47.0,2.136809,0.551291,1.03,1.6550,2.220,2.6350,2.99
webové inženýrství,46.0,2.079130,0.498802,1.02,1.7100,1.990,2.5275,2.88
číslicová technika,33.0,2.047576,0.582565,1.08,1.5300,2.280,2.5400,2.79

f. Načti datový set s křestními jmény. 

Proveď join s tabulkou studentů tak, abychom věděli pohlaví jednotlivých studentů.

In [106]:
jmena = pandas.read_csv("jmena.csv")
# jmena = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/jmena.csv")

print(jmena.columns)
print(studenti.columns)

studenti_jmena = pandas.merge(studenti, jmena)
studenti_jmena

Index(['jméno', 'četnost', 'věk', 'pohlaví', 'svátek', 'původ'], dtype='object')
Index(['jméno', 'příjmení', 'obor', 'ročník', 'kruh', 'prospěch'], dtype='object')

,jméno,příjmení,obor,ročník,kruh,prospěch,četnost,věk,pohlaví,svátek,původ
0,Ludmila,Šindlerová,informatika a management,4.0,11.0,2.49,72750,65,ž,16.9,slovanský
1,Ludmila,Dvořáková,číslicová technika,3.0,3.0,2.32,72750,65,ž,16.9,slovanský
2,Ludmila,Sklářová,softwarové inženýrství,5.0,7.0,2.95,72750,65,ž,16.9,slovanský
3,Ludmila,Dorazilová,softwarové inženýrství,2.0,10.0,2.00,72750,65,ž,16.9,slovanský
4,Jan,Pekárek,softwarové inženýrství,1.0,7.0,1.05,293938,40,m,24.6. a 6.7,hebrejský
...,...,...,...,...,...,...,...,...,...,...,...
282,Ondřej,Požár,webové inženýrství,2.0,8.0,1.94,76225,22,m,30.11,řecký
283,Jaromír,Gabriel,počítačová grafika,3.0,8.0,1.38,30984,55,m,24.9,slovanský
284,Denisa,Bílková,teoretická informatika,5.0,5.0,1.03,26299,23,ž,11.9,řecký
285,Pavlína,Filová,číslicová technika,4.0,8.0,2.37,35863,37,ž,31.8,latinský
286,Klára,Valentová,správa IT systémů,1.0,11.0,1.10,39600,22,ž,12.8,latinský

g. Zjisti, zda na naší fakultě studují IT spíše ženy nebo spíše muži.

In [107]:
studenti_jmena.groupby("pohlaví")["jméno"].count()
# studenti_jmena.groupby("pohlaví").size()

pohlaví
m    117
ž    170
Name: jméno, dtype: int64